h1, h2, h3, h4, h5, h6 {
    color:brown;
    background-color:aliceblue;
}
.nav {
    background-color: aliceblue;
    list-style-type: none;
    text-align: right;
    padding: 0;
    margin: 0;
   
}
.nav li {
    display:inline-block;
   font-size: 17px;
   padding: 20px;
}
p   {
    color:black;
    font-weight: 200;
    font-size: 17px;
}
.img-cen{
float: right;
}
.pos-img {
    position: absolute;
    width: 75%;
    left: 15%;
    top: 10%;

}